body{
    text-align: center;
}

canvas{
    border:  2px solid black;
    background-image: url(images/grasses68.gif);
}

#talkbox{
    height: 20px;
    color:  brown;
    font-size: 26px;
    font-weight: bold;
}

h1{
    font-size: medium;  
}

input[type=button]{
    font-size: large;
}